name: Set Server Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Server version to set'
        required: true
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  set-server-version:
    name: Set Server Version

    permissions:
      contents: write

    runs-on: ubuntu-24.04
    steps:
      - name: 'Shared: Checkout repository'
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # 6.0.0
        with:
          ref: ${{ github.ref }}
          persist-credentials: false

      - name: 'Set Server Version'
        run: |
          echo "pub const SOULFIRE_VERSION: &str = \"${INPUTS_VERSION}\";" > src-tauri/src/sf_version_constant.rs
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - name: 'Commit Version'
        uses: stefanzweifel/git-auto-commit-action@28e16e81777b558cc906c8750092100bbb34c5e3 # 7.0.0
        with:
          commit_message: 'chore: bump server version to ${{ inputs.version }}'