name: set-version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to set'
        required: true
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  set-version:
    name: Set Version

    permissions:
      contents: write

    runs-on: ubuntu-24.04
    steps:
      - name: 'Shared: Checkout repository'
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: 'Shared: Setup node'
        uses: actions/setup-node@v4
        with:
          node-version: lts/*

      - name: 'Shared: Install pnpm'
        uses: pnpm/action-setup@v4
        with:
          version: 9

      - name: 'Shared: Install Rust toolchain'
        uses: dtolnay/rust-toolchain@nightly

      - name: 'Desktop: Cache dependencies'
        uses: Swatinem/rust-cache@v2
        with:
          prefix-key: set-version
          save-if: ${{ github.ref == 'refs/heads/main' }}
          workspaces: src-tauri
          cache-on-failure: true
          cache-all-crates: true
          cache-targets: false

      - name: 'Set JS Version'
        run: |
          pnpm version --no-git-tag-version --allow-same-version ${{ inputs.version }}

      - name: 'Set Cargo Version'
        run: |
          cargo install cargo-edit
          cargo set-version ${{ inputs.version }} --manifest-path src-tauri/Cargo.toml

      - name: 'Add to metainfo'
        run: |
          if ! grep -q "<release version=\"${{ inputs.version }}\"" com.soulfiremc.soulfire.metainfo.xml; then
            sed -i "/<releases>/a\\
                <release version=\"${{ inputs.version }}\" date=\"$(date +\"%Y-%m-%d\")\">\\
                    <url type=\"details\">https://github.com/AlexProgrammerDE/SoulFireClient/releases/tag/${{ inputs.version }}</url>\\
                </release>" com.soulfiremc.soulfire.metainfo.xml
            echo "Added release ${{ inputs.version }} to metainfo file"
          else
            echo "Release version ${{ inputs.version }} already exists in metainfo file, skipping addition"
          fi

      - name: 'Commit Version'
        uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: 'chore(release): bump version to ${{ inputs.version }}'
