name: Set Server Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Server version to set'
        required: true
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  set-server-version:
    name: Set Server Version

    permissions:
      contents: write

    runs-on: ubuntu-24.04
    steps:
      - name: 'Shared: Checkout repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          ref: ${{ github.ref }}

      - name: 'Set Server Version'
        run: |
          echo "pub const SOULFIRE_VERSION: &str = \"${INPUTS_VERSION}\";" > src-tauri/src/sf_version_constant.rs
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - name: 'Commit Version'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # 7.1.0
        with:
          commit_message: 'chore: bump server version to ${{ inputs.version }}'
