name: Set Version

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version to set'
        required: true
  workflow_call:
    inputs:
      version:
        required: true
        type: string

jobs:
  set-version:
    name: Set Version

    permissions:
      contents: write

    runs-on: ubuntu-24.04
    steps:
      - name: 'Shared: Checkout repository'
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 6.0.1
        with:
          ref: ${{ github.ref }}
          persist-credentials: false

      - name: 'Shared: Setup node'
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # 6.1.0
        with:
          node-version: lts/*
          check-latest: true

      - name: 'Shared: Install pnpm'
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # 4.2.0
        with:
          version: latest

      - name: 'Shared: Install Rust toolchain'
        uses: dtolnay/rust-toolchain@0c3131df9e5407c0c36352032d04af846dbe0fb7 # nightly

      - name: 'Desktop: Cache dependencies'
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # 2.8.2
        with:
          prefix-key: set-version
          save-if: ${{ github.ref == 'refs/heads/main' }}
          workspaces: src-tauri
          cache-on-failure: true
          cache-all-crates: true
          cache-targets: false

      - name: 'Set JS Version'
        run: |
          pnpm version --no-git-tag-version --allow-same-version ${INPUTS_VERSION}
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - name: 'Set Cargo Version'
        run: |
          cargo install cargo-edit
          cargo set-version ${INPUTS_VERSION} --manifest-path src-tauri/Cargo.toml
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - name: 'Add to metainfo'
        run: |
          if ! grep -q "<release version=\"${INPUTS_VERSION}\"" com.soulfiremc.soulfire.metainfo.xml; then
            sed -i "/<releases>/a\\
              <release version=\"${INPUTS_VERSION}\" date=\"$(date +"%Y-%m-%d")\">\\
                <url type=\"details\">https://github.com/AlexProgrammerDE/SoulFireClient/releases/tag/${INPUTS_VERSION}</url>\\
              </release>" com.soulfiremc.soulfire.metainfo.xml
            echo "Added release ${INPUTS_VERSION} to metainfo file"
          else
            echo "Release version ${INPUTS_VERSION} already exists in metainfo file, skipping addition"
          fi
        env:
          INPUTS_VERSION: ${{ inputs.version }}

      - name: 'Bump android version code'
        run: |
          jq '.bundle.android.versionCode += 1' src-tauri/tauri.conf.json > tmp.json
          mv tmp.json src-tauri/tauri.conf.json

      - name: 'Commit Version'
        uses: stefanzweifel/git-auto-commit-action@04702edda442b2e678b25b537cec683a1493fcb9 # 7.1.0
        with:
          commit_message: 'chore(release): bump version to ${{ inputs.version }}'