name: Test

on:
  - push
  - pull_request

permissions:
  contents: read

jobs:
  test:
    name: Build and Test

    runs-on: ubuntu-24.04
    steps:
      - name: 'Checkout repository'
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # 6.0.2
        with:
          persist-credentials: false

      - uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # 4.2.0
        name: Install pnpm
        with:
          version: latest
          run_install: false

      - name: Install Node.js
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # 6.2.0
        with:
          node-version: lts/*
          cache: 'pnpm'
          check-latest: true

      - name: Install dependencies
        run: pnpm install

      - name: Run typecheck
        run: |
          pnpm typecheck

      - name: Run check
        run: |
          pnpm exec biome ci

      - name: Run build
        run: |
          pnpm build